<section class="grid">
    {{#each model as |syllogism|}}
        <div class="cell {{syllogism.cssClass}} {{if syllogism.expanded 'expanded' ''}}" {{action 'expand' syllogism}}>
            {{syllogism.name}}
        </div>
    {{/each}}
</section>